#primary-display {
	position: absolute;
	top: 25%;
	width: 100%;
}
#primary-display h1 {
	@apply block text-9xl font-bold tracking-widest text-center;
}
#secondary-display {
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	@apply block text-2xl md:text-3xl font-normal tracking-widest text-center pb-4;
}
