/* https://css-tricks.com/the-current-state-of-styling-scrollbars/ */

*::-webkit-scrollbar {
	width: 1rem;
}
* {
	scrollbar-width: thin;
	scrollbar-color: rgb(var(--base-500)) rgb(var(--base-200));
}
*::-webkit-scrollbar-track {
	background: rgb(var(--base-200));
}
*::-webkit-scrollbar-thumb {
	background-color: rgb(var(--base-500));
	border: 0.25rem solid rgb(var(--base-200));
}
*::-webkit-scrollbar-thumb:hover {
	background-color: rgb(var(--base-600));
}
