/* Global styles across the app */

@import 'animatedIcons.css';
@import 'focus.css';
@import 'inputs.css';
@import 'scrollbar.css';
@import 'surface.css';
@import 'tables.css';
@import 'typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
